{% extends "base.html" %}
<! DOCTYPE html >
<html lang="en">
{% block content %}


{# <!-- js of the visualisations visualisation --> #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh-0.11.1.min.css') }}" type="text/css"/>
<script type="text/javascript" src="{{ url_for('static', filename='js/bokeh-0.11.1.min.js') }}"> </script>


{# <!-- define the root --> #}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<body >
    <div id="container">
        <div id="content">

            <div id="sales_charts">


            </div>




            {% with messages = get_flashed_messages() %}
                {% if messages%}
                    {% for message in messages %}
                        <div class="flash_wrapper">
                            <div class="flash_content">
                                <p class="flash_message">{{ message }}</p>
                                <div id="close_message">
                                    <form action="" method="POST">
                                        {# <!--The name atr. of the button must be the same, otherwise bad request error --> #}
                                        <button id="close_message_btn" name="add" type="submit" value="refresh">Close</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}



            <div id="show_products">

                <div id="products_list">

                    {# <!--Add product - Edit Categories, drop down menu--> #}
                    <div id="add_product">

                        <form  class="add_product_form" action=""  method="POST" style="display:block">
                            <input id="product_name" name="product_name"  type="text" placeholder="Add Product Name"><br>
                            <textarea  id="product_description" name="product_description" placeholder="Add Description" ></textarea><br>
                            <input id="product_price" name="price"  type="number" placeholder="Add Price"><br>
                            <input id="availability" name="product_availability"  type="number" placeholder="Availability"><br>
                            <select name="categories" id="categories">
                                <option value="">Select a category</option>
                                {% for category in categories %}
                                    <option  name="{{category}}">{{category}}</option>
                                {% endfor %}
                            </select><br>
                            <button id="submit_product_btn" name="add" type="submit" value="add_product"> Add </button>
                        </form>
                    </div>
                    <div id="edit_categories">
                        <div id="edit_categories_container">
                            <form class="edit_categories_form" action="" method="POST">
                                <input id="category_name" name="category_name" size="30" type="text" placeholder="Add Category Name">
                                <button id="submit_category_btn" name="add" type="submit" value="add_category"> Add </button>
                            </form>

                            <form class="edit_categories_form" action="" method="POST">
                                <select id="categories_to_remove" name="categories_to_remove">
                                    <option value="">Select a category to delete</option>
                                    {% for category in categories %}
                                    <option name="{{category}}">{{category}}</option>
                                    {% endfor %}
                                </select>

                                <button id="remove_category_btn" name="add" type="submit" value="remove_category"> Remove </button>
                            </form>
                        </div>
                    </div>

                                <div id="refresh_button">
                                    <form action="" method="POST">
                                        {# <!--The name atr. of the button must be the same, otherwise bad request error --> #}
                                        <button id="refresh" name="add" type="submit" value="refresh"><img src="{{ url_for('static', filename='img/refresh-button_green.png') }}" ></button>
                                    </form>
                                </div>


                    {# <!--TODO change name to ~table_menu--> #}
                    <div id="add_edit_menu">
                            <img id="table_menu_img" src="{{ url_for('static', filename='img/edit_menu.png') }}" alt="edit menu">

                        <div id="add_edit_content">
                            <button id="edit_categories_btn" onclick="document.getElementById('edit_categories').style.display='block'">Edit Categories</button>
                            <button id="add_product_btn" onclick="document.getElementById('add_product').style.display='block'"> Add Product</button>
                        </div>
                    </div>
                    {# <!------------------------------------------------>#}

                    <table class="products_list_table">
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Availability</th>
                            <th>Category</th>
                            <!--<th style="width:180px;">-->
                                <!--<form action="" method="POST">-->
                                    <!--<select name="category_to_show">-->
                                        <!--<option value="">Select a category</option>-->
                                        <!--{% for category in categories %}-->
                                        <!--<option name="{{category}}">{{category}}</option>-->
                                        <!--{% endfor %}-->
                                    <!--</select>-->
                                    <!--<button id="show" name="add" type="submit" value="show_products">Show</button>-->
                                <!--</form>-->
                            <!--</th>-->
                        </tr>
                    {% for pr_id, pr_name, pr_price, pr_availability, pr_categories in products_zip %}
                        <tr id="{{ pr_id }}" onclick="id_num(this);
                        document.getElementById('show_details_box').style.display='block';">
                            <td>{{ pr_name }}</td>
                            <td>{{ pr_price }}</td>
                            <td>{{ pr_availability }}</td>
                            <td>{{ pr_categories }}</td>

                    {% endfor %}
                        </tr>
                    </table >

                    <table class="products_list_table_2">

                        <tr>
                            <th>
                                <form action="" method="POST">
                                    <select name="category_to_show">
                                        <option value="">Select a category</option>
                                        {% for category in categories %}
                                        <option name="{{category}}">{{category}}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="product_list_btn" id="show" name="add" type="submit" value="show_products">Show</button>
                                </form>
                            </th>
                        </tr>
                        {% for pr_id, pr_name, pr_price, pr_availability, pr_categories in products_zip %}

                        <tr>
                            <td>
                                <form action="" method="POST" >
                                    <input  type="hidden" value="{{ pr_id }}" name="sell_product_id">
                                    <input  type="hidden" value="{{ pr_name }}" name="sell_product">
                                    <button class="product_list_btn" id="sell_product" name="add" type="submit" value="sell_product" >Sell</button>
                                </form>
                                    <form action="" method="POST">
                                    <input  type="hidden" value="{{ pr_id }}" name="product_to_delete_id">
                                    <input  type="hidden" value="{{ pr_name }}" name="product_to_delete">
                                    <button class="product_list_btn" id="delete_product" name="add" type="submit" value="delete_product" >Delete</button>
                                </form>
                                    <p style="display:inline-block; margin:0 7px;">|</p>
                                    <form action="" method="POST">
                                    <input type="hidden" value="{{ pr_availability }}" name="current_qty">
                                    <input  type="hidden" value="{{ pr_id }}" name="update_availability_id">
                                    <input type="hidden" value="{{ pr_name }}" name="product_to_update">
                                    <input type="number" name="update_availability_qty" style="width:40px;">
                                    <button class="product_list_btn" id="update_availability_btn" name="add" type="submit" value="update_availability">Add</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>

            </div>

            <div class="leo_mark_chart">

                {{ script | safe }}
                {{ div|safe }}

            </div>

            <div id="show_details_box" >
                <div id="product_image"></div>
                <div id="show_detail_content" >
                    <h1 id="show_head" >Item Details</h1>
                    <!--<h1 id="show_category"> </h1>-->
                    <div id="name_price">
                        <h1 id="show_name"></h1>
                        <h1 id="show_price"> </h1>
                    </div>
                    <p id="show_description"></p>
                    <h4 id="show_availability"> </h4>

                </div>
            </div>


        </div>{# <!--Content--> #}
    </div>



</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"> </script>

<script>




</script>

{% endblock %}



{% block footer %}
{{ super() }}
{% endblock %}

</html>
