/* html and body height 100% otherwise
the footer don't stay down,  */

/* defaults

background: url(path or link) repead;
 */

*{
	margin: 0;
	padding: 0;
}

/*The image will not lose qualiti*/
img {max-width: 100%}

html, body {
	font-size: 100%;
    min-height: 100%;
	height: 100%;
	width: 100%;
  	margin: 0;
  	/*min-width: 1100px;*/
}

a {
    text-decoration: none;
    color: #008000;
    border-bottom: 1px dotted #008000;
    transition: color .3s ease-in-out;
}
a:hover {
    color: 00a200;
    border-bottom: 1px dotted #00a200;
    transition: color .3s ease-in-out;f
}

.img_link {
    border: 0;
}
.img_link:hover {
    border:0;
}

/* ========= Players Table ===================*/

.player_name_div a.main-nav-item:hover {
	color: red;
}

.player_name_div {

    display: inline-block;
    float: right;
    margin: 1.5em;
}

table#player_name a:hover {
	color: navy;
}

table#player_name th {
    background-color: black;
    color: white;
}

table#player_name tr:nth-child(even){
	background-color: #eee;
}
table#player_name tr:nth-child(odd){
	background-color: white;
}

/* ========= Players Table ===================*/


/* ================ */

#side_menu_toggle { display: none; }
#toggle {display: none;}

#header {
	background-color: black;
	width: 100%;
}

.navbar{
	display: inline-block;
	margin: .8em;
}


div.navbar a {
	font-size: 1em;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
    border: none;
}
div.navbar a:hover {
	font-size: 1em;
	text-decoration: none;
	color: white;
    transition: color .2s ease-in-out;
}

.navbar_github {
    display: inline-block;
}

div.navbar_github img{
    width: 25px;
    height: auto;
    margin: 0 0 -.5em .8em;

}

#container {
  display: table;
  height: inherit;
  width: 100%;
}

#content {
	/*border: solid 1px black;*/
	/*border-radius: 5px;*/
	/*margin: .4em .2em;*/
	height: inherit;
}

/* ========= Index ============*/


#loading {
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,.85);
}

div#loading h1 {
    margin-top: 30%;
}

#landscape_loading {display: none;}

#lanscape_gif_coutinho {display: none;}
#lanscape_gif_finance {display: none;}
.main_content {
	/*border: solid 1px red;*/
	margin:.2em auto;
	width: 80%;
	height: inherit;
	padding: 1em;
}

#beta {
    background-color: green;
    /*right: -15px;*/
    top: 0px;
    color: white;
    margin-right: 70px;
    width: 161px;
    height: 120px;
    text-align: center;
    float: right;
}

.hello {
    /*background-image:
        url('/static/img/index/hello/falling_1.png'),
        url('/static/img/index/hello/falling_2.png');*/
    background-repeat: no-repeat, no-repeat;
    background-position: 0px -1500px, 0px -1000px;
    /*background-size: cover;*/
    background-attachment: fixed;
	min-height: 680px;
	text-align: center;
    /*margin-bottom: 150px;*/
    position: relative;
	height: 100vh;
    animation: clouds linear 60s infinite;
    animation-delay: 4.5s;
    padding-top: 6%;
}

@keyframes clouds {
    from { background-position:0px -1500px, 0px -1000px; } 
    to { background-position: 0px 0px, 0px 0px; }
}


#clouds_left {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: -1;
}

#clouds_right {
    position: absolute;
    top: 5%;
    left: 50%;
}

#hello_header {
	font-size: 8em;
	color: green;
	font-family: "Josefin Sans";
    z-index: 10;
}

#hello_txt {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
}

div.hello p {
	color: #0000d8;
	font-size: 4em;
	font-family: "Waiting for the Sunrise";
}

.ariane {
    width: 100%;
    position: absolute;
    top: 40%;
    margin: 0 auto;
    z-index: 10;
/*    -webkit-animation: ariane_rotate 5s alternate infinite;
    animation: ariane_rotate 5s alternate infinite;*/
}
.ariane_img {}

div.ariane img {}

#web_button{
	color: black;
	font-family: arial;
	border: 2px solid #c50101;
	border-radius: 4px;
	padding: 7px;
}

#web_button:hover {
	cursor: none;
	background-color: #c50101;
	color: white;
	border: solid 2px #c50101;
	border-radius: 4px;
}

/***************** index p2 < proramming Skills> ****/

#skills_img_div {display: none;} /*image for mobile devices*/
.index_p2 {
    background:
                url("/static/img/index/skills_new/bg.jpg") no-repeat;
                /*url("/static/img/index/wood_p2_bg.jpg") repeat;*/
	/*margin-top: 10px;*/
	/*text-align: center;*/
	/*height: 100vh;*/
    /*background-size:cover;*/
	background-attachment: fixed;
    background-size: 100%;
}

#index2_table_note {
    /*max-width: 960px;*/
    width: 100%;
    margin: 0 auto;
    padding-top: 300px;
    height: 680px;
    position: relative;

}

#p2_ramka{position: absolute;  left: 85%; top: 7%; }
#p2_cactus {position: absolute;  left: 5%; top: 2%;}
#p2_caffe {position: absolute;  left: 85%; top: 50%;}
#p2_calculator {position: absolute; left: 75%; top: 30%; z-index: 10;}
#p2_clip {position: absolute; z-index: 10; left: 20%; top: 40%;}
#p2_clip_big {position: absolute;  z-index: 10; left: 50%; top: 73%;}
#p2_code_note {position: absolute;  left: 15%; top: 44%;}
#p2_laptop {position: absolute;  z-index: 12; left: 0; right:0; top: -8%; margin: 0 auto;}
#p2_note_graphs {position: absolute;  left: 18%; top: 3%;}
#p2_pencil_black {position: absolute;  left: 17%; top: 25%;}
#p2_pencil_blue {position: absolute;  left: 30%; top: 25%;}
#p2_pencil_green {position: absolute;  left: 25%; top: 73%;}
#p2_phone {position: absolute;  left: 10%; top: 45%;}
#p2_trash {position: absolute;  left: 65%; top: 65%;}

#index2_notebook {display: none;}


div.index_p2 p {
	text-align: left;
}


/* web skils */

#index_p3 {
	text-align: center;
	height: auto;
}

#web_logo {
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	color: white;
}

div#web_logo  h2 {
	padding: .4em;
}

#index_p3_bg {}

#index3_bg_mobile {display: none;}



/****** index p4 projects **************/

#index_p4 {}

#projects {
    margin: 10px auto;
    font-family: 'courier new';
    font-size: 2em;
    width:230px;
}

/********** Web Designe ****************/

/***** Nikol ********/

#index_p4_web_dvp {
    
}

#nikol_container {
    width: 100%;
    height: 680px;
    /*padding: 50px 0;*/
    background: url('/static/img/index/prj/nikol_bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

#nikol_port_img {
	float: left;
    margin-top: 195px;
	width: 300px;
	height: 290px;
	margin-left: 50px;
}


div#nikol_port_img img {
	width: 90%;
	height: auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }

div#nikol_port_img img:hover {
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

#nikol_header_container_top {display: none;}
#nikol_header_container {
    float: left;
    margin: 280px auto auto 40px;
    color: #ffffff;
    font-family: 'courier new';
}

 .nikol_header {}

 #visit_nikol_bottom {display: none;}
 #visit_nikol {
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    
 }
 div#visit_nikol a {
    border: 2px solid #ffffff;
    padding: 6px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: all .3s ease-in-out;
 }

 div#visit_nikol a:hover {
    background-color: #717171;
    transition: all .3s ease-in-out;
 }




/****** Saridis **************/

#saridis_container {
    background: url('/static/img/index/prj/saridis_bg(1).jpg') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 680px;
    /*padding: 50px 0;*/
}

#saridis_img {
	float: right;
    margin-top: 195px;
	width: 300px;
	height: 290px;
    margin-right: 20px;
}

div#saridis_img img {
    cursor:pointer;
	width: 90%;
	height: auto;
	/*padding-top: 10px;*/
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

div#saridis_img img:hover {
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#saridis_header_container_top {display: none;}
#saridis_header_container {
    float: right;
    margin: 280px 70px auto auto;
    color: #ffffff;
    font-family: 'courier new';

}

.saridis_header {}

#visit_saridis_bottom {display: none;} 
#visit_saridis {
    width: 130px;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
}

div#visit_saridis a {
    border: 2px solid #ffffff;
    padding: 6px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

div#visit_saridis a:hover {
    background-color: #4570A0;
    transition: all .3s ease-in-out;

}


/* ======Index Data Logo ===========*/

#data_logo_wrapper{
	width: 260px;
	height: 7em;
	margin: 2em auto;
	padding: 1em;
	clear: both;

/*	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
*/
}

#data_logo {
	margin-left: .3em;
	width: .6em;
	height: 2em;
	background-color: #546E7A;
	display: inline-block;

}

#data_logo_1 {
	margin-left: .3em;
	width: .6em;
	height: 3em;
	background-color: #2196F3;
	display: inline-block;
}

#data_logo_2 {
	margin-left: .3em;
	width: .6em;
	height: 1em;
	background-color: #F44336;
	display: inline-block;
}
#data_logo_3 {
	margin-left: .3em;
	width: .6em;
	height: 4em;
	background-color: #8BC34A;
	display: inline-block;
}

#data_logo_4 {
	margin-left: .3em;
	width: .6em;
	height: 5em;
	background-color: #009688;
	display: inline-block;
}

#data_logo_5 {
	margin-left: .3em;
	width: .6em;
	height: 3em;
	background-color: #673AB7;
	display: inline-block;
}


#data_logo_6 {
	margin-left: .3em;
	width: .6em;
	height: 4em;
	background-color: #FFC107;
	display: inline-block;
}

#data_logo_7 {
	margin-left: .3em;
	width: .6em;
	height: 1em;
	background-color: #E91E63;
	display: inline-block;
}

#data_logo_8 {
	margin-left: .3em;
	width: .6em;
	height: 3em;
	background-color: #33691E;
	display: inline-block;
}

#data_logo_9 {
	margin-left: .3em;
	width: .6em;
	height: 5em;
	background-color: #006064;
	display: inline-block;
}

#data_logo_10 {
	margin-left: .3em;
	width: .6em;
	height: 6em;
	background-color: #B71C1C;
	display: inline-block;
}

#data_logo_11 {
	margin-left: .3em;
	width: .6em;
	height: 3em;
	background-color: #37474F;
	display: inline-block;
}

#data_logo_12 {
	margin-left: .3em;
	width: .6em;
	height: 5em;
	background-color: #827717;
	display: inline-block;
}

#data_logo_13 {
	margin-left: .3em;
	width: .6em;
	height: 2em;
	background-color: #F57C00;
	display: inline-block;
}
/* ======== End Data Logo =========== */


.chart_not_available_coutinho {display: none;} /* Hide chart not available message */
.chart_not_available_finance {display: none;} /* Hide chart not available message */

/********* Coutinho *****************/

#coutinho_chart_container {
    height: 680px;
    padding: 12px 0;
    background: url('/static/img/index/prj/coutinho_bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    padding: 95px 0;
}

#coutinho_chart {
    float: left;
    width: 60%;
    height: auto;
    max-width: 800px;
    margin: 95px 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

div#coutinho_chart a {border:none;}

#coutinho_header_container_top {display: none;}

#coutinho_header_container {
    margin-top: 120px; 
    width: 33%;
    float: left;
    color: #fff;
    font-family: 'courier new';
}

.index_coutihno_img {
	float: right;
	width:350px;
	height: auto;
	margin-left: 1em;

}

/***** Finance index ******************/

#index_chart_stock_container {
    background: url('/static/img/index/prj/finance_bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 680px;
    padding: 95px 0;
}

#index_finance{
    float: left;
    width: 60%;
    height: auto;
    margin-left: 20px; 
    
}

#form_index{ 
    display: inline-block;
    width: 70%;
    margin: 50px auto;
 }

#select_chart_form_index {text-align: center;}

#index_chart_input {
    width: 100%;
}

form input#index_chart_input:focus {
    border: 1px solid #e0e0e0;
    outline: 0;
}

#finance_chart_index {
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    /*margin: 0 auto auto 7%;*/
    width: 100%;
    max-width: 800px;
    height: auto;
    background-color: #fff;
}
#finance_chart_index a {border: none;}

#finance_header_container_top {display: none;}

#finance_header_container {
    margin-top: 200px; 
    margin-right: 25px;
    width: 30%;
    float: right;
    color: #fff;
    font-family: 'courier new';
}

div#finance_header_container h3 {text-align: center;}

#visit_finance_bottom {display: none;}

#visit_finance {
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
}

div#visit_finance a {
    border: 2px solid #ffffff;
    padding: 6px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

div#visit_finance a:hover {
    background-color: #2F92B9;
    transition: all .3s ease-in-out;
}

/********* index notes *******************/

#index_notes {
	width: 55%;
	margin: 4em;
}

div#index_notes_content h1{
	color: #9e9e9e;
	font-family: "courier new"
}
div#index_notes_content p{
	font-size: 1.4em;
	font-family: "courier new";
	font-weight: bold;
	padding: .3em;
	margin: .3em;
}


/* =========================== */

#pandas_header {
	color: blue;
	font-family: vivaldi;
	font-size:40px;
	text-align: center;
}

/* ********************** */

#graph {
	max-width: 50%;
}

/* ********************** */




/* Chart.html */
#HLevelLine {
	padding-right: 10px;

	height: auto;
	width: 48%;
	border: solid 1px #E0E0E0;
	border-radius: 5px;
	margin: 10px;
	display: inline-block;
}

#PygalLine{
	position: absolute;
	padding: auto;
	display: inline-block;
	width: 48%;
	height: auto;

	margin: 10px;
	border: solid 1px #E0E0E0;
	background-color: #F9F9F9;
	border-radius: 5px;

}
/* ********************** */

/* finance.html */


/*    form        */
#select_chart_form{
	text-align: center;
    margin-top: 3em;
}


#forms {
	display: inline-block;
	padding: 7px 5px;
	margin: 15px auto;
	width: 40%;
}


input[name=chart] {
	padding: .3em .3em;
	float: left;
	font-size: large;
	width: 85%;
	border: solid 1px #E0E0E0;
	border-radius: 3px;
}

input[name=button_arrow] {
	float: right;
	height: 25px;
    margin-left: 10px;
	float: left;

}

/* chart */

#main_content {

}

#finance_chart {
	display: inline-block;
	float: left;
	padding: 15px;
	border: solid 1px #E0E0E0;
	border-radius: 5px;
	margin: 10px auto auto 7%;
	min-width: 685px;
	max-width: 800px;
	width: 63%;
	height: auto;
}


/* ********************** */

/* Info Table   */

#info_table_div {
	display: inline-block;
	padding: 5px;
	width: auto;
	border:1px solid #E0E0E0;
	border-radius: 5px;
	float: none;
	margin:10px 15px;
	max-height: 30%;
}

.info_table {
	width: 100%;
	border-collapse: collapse;
	border:1px solid #ffffff;
}

.info_table tr,th,td {
	border:1px solid rgba(255, 255, 255, 0);
}
.info_table th {
	padding: 0em 1em 0em 0em;
}


/* ********************** */


/******* ../bio  ************/

.bio {
    width: 750px;
    height: auto;
    padding: 1em;
    border: 1px solid #efefef;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 1.3em;
    font-family: georgia;
}


/* **** Liverpool  ****** */

.player_name {
	text-align: center;
	font-size: 1.5em;
}

#chart_info_cont{
	/*display: block; */
	width: 80%;
/*	min-width: 20%;
*/	margin: .4em auto;
	/*border:solid 2px red;*/
	/*background-color: #E0E0E0;*/
	overflow: hidden;
}

.rating_chart {

	display: inline-block;
	padding: .5em;
	border: solid 1px #E0E0E0;
	border-radius: 5px;
	/*margin: 1%;*/
	width: 70%;
	height: auto;
}

.player_info {
	float: right;
	width: 25%;
	display: inline-block;
 	/*padding: 10px;*/
/*	border: 2px solid #E0E0E0;
	border-radius: 5px;
	margin: 10px 10px 10px 10px;
*/}

/* ******** leo_markt *************/

.head_msg {
    margin: 1em auto;
    width: 500px;
    font-family: "verona script";
    font-size: 3em;
    color: green;}

/*****  Add Product ********/

#add_product {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    overflow: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.add_product_form {
    width: 320px;
    margin: 40 auto;
    padding: 60px 80px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}



#product_name,
#product_price,
#availability,
#categories,
#categories_dropdown {
    height: 35px;
    width: 100%;
    padding: 5px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #008000;
    font-family: georgia;
    margin: 8px auto;
}

#product_name:hover,
#product_price:hover,
#availability:hover,
#categories:hover {
    border: 2px solid #6bca6f;
}

#product_name:focus,
#product_price:focus,
#availability:focus,
#categories:focus {
    border: 2px solid #6bca6f;
    outline: 0;
}

#product_description {
    width: 100%;
    height: 70px;
    margin: 10px auto;
    padding: 5px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #008000;
    font-size: 1em;
    font-family: georgia;
}
#product_description:hover {
    border: 2px solid #6bca6f;
}

#product_description:focus {
    border: 2px solid #6bca6f;
    outline: 0;
}


#submit_product_btn {
    font-size: 1.3em;
    font-family: "courie new";
    width: 6em;
    height: 1.6em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    border:2px solid #008000;
    font-weight:bold;
    text-align: center;
    color: #ffffff;
    background-color: #008000;
    margin: 7px auto;
}

#submit_product_btn:hover {
    cursor: pointer;
    border:2px solid #04a604;
    background-color: #04a604;

}

#categories_dropdown {}



/**** Edit Categories *****/

#edit_categories {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    overflow: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.edit_categories_form{
    margin: 20px auto;
}
#edit_categories_container {
    width: 350px;
    min-height: 250px;
    height: auto;
    background-color: white;
    margin: 10px auto;
    padding: 50px 40px;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}
#category_name {
    height: 35px;
    width: 100%;
    padding: 5px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #008000;
    font-family: georgia;
    margin: 8px auto;

}

#categories_to_remove {
    height: 35px;
    width: 100%;
    padding: 5px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #F44336;
    font-family: georgia;
    margin: 8px auto;

}

#category_name:hover {
    border: 2px solid #6bca6f;
}

#categories_to_remove:hover {
    border: 2px solid #fa6a5f;
}

#category_name:focus {
    border: 2px solid #6bca6f;
    outline: 0;
}

#categories_to_remove:focus {
    border: 2px solid #fa6a5f;
    outline: 0;
}



#submit_category_btn {
    font-size: 1.3em;
    font-family: "courie new";
    width: 6em;
    height: 1.6em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    border:2px solid #008000;
    font-weight:bold;
    text-align: center;
    color: #ffffff;
    background-color: #008000;
    margin: 7px auto;
}
#submit_category_btn:hover {
    cursor: pointer;
    border:2px solid #04a604;
    background-color: #04a604;}

#remove_category_btn {
    font-size: 1.3em;
    font-family: "courie new";
    width: 6em;
    height: 1.6em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    border:2px solid #F44336;
    font-weight:bold;
    text-align: center;
    color: #ffffff;
    background-color: #F44336;
    margin: 7px auto;
}

#remove_category_btn:hover {
    cursor: pointer;
    border:2px solid #fa6a5f;
    background-color: #fa6a5f;
}

/**** Show details ****************/

#show_details_box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    overflow: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#show_detail_content {
    width: 650px;
    min-height: 400px;
    margin: 70 auto;
    padding: 40px 30px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

#show_head {
    text-align: center;
    margin-bottom: 30px;
    color: green;

}

#name_price {
    margin: 0 auto;
}

#show_name {
    display: inline-block;
}

#show_price {
    display: inline-block;
    margin: 20px;
}

#product_img {
    width: 180px;
    height: 160px;
    background-color: green;
    color: white;
    float: right;
    margin: 0 10px;
    text-align: center;
    padding: 30px 35px;
    font-size: large;
    font-family: "courier new";
}


#show_description {
    width: 60%;
    margin: 20px 0;
}

#show_category {
    text-align: center;
    margin-bottom: 30px;
}

#show_availability {
    width: 80%;
}



/**** Add - Edit Menu ******/

#add_edit_menu {
    width: 55px;
    height: 150px;
    float: left;
    cursor: pointer;
    margin-left: 160px;
}

/* Show the drop down*/

#add_edit_menu:hover #add_edit_content{
    display: block;
    left: -100px;
    top: -3px;
    display: block;
    position: relative;
}


#add_edit_content {
    display: none;

}


div#add_edit_menu img {
    width: 35px;
    float: right;
    margin: 0 .5em .5em .5em;
}

#edit_categories_btn {
    font-size: 1em;
    font-family: "courie new";
    width: 9em;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    border:2px solid #008000;
    font-weight:bold;
    text-align: center;
    color: #ffffff;
    background-color: #008000;
    margin: 7px auto;
    padding: .3em;

}

#edit_categories_btn:hover {
    opacity: .9;
    cursor: pointer;
}

#add_product_btn {
    font-size: 1em;
    font-family: "courie new";
    width: 9em;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    border:2px solid #008000;
    font-weight:bold;
    text-align: center;
    color: #ffffff;
    background-color: #008000;
    margin: 7px auto;
    padding: .3em;
}

#add_product_btn:hover {
    cursor: pointer;
    opacity: .9;
}

/**** refresh button */

/*div*/
#refresh_button{
    width: 28px;
    position: relative;
    left: 124px;
    top: 33px;
}
div#refresh_button img {
    width: 28px;
}

/*button*/
#refresh {
    width: 40px;
    background-color: white;
}

#refresh:hover{
    opacity: .8;
    cursor: pointer;
}


/**** category Table *******/

#products_list{
    width: 1100px;
    margin: 0 auto;
}

div#products_list form{
    display: inline-block;
}

div#products_list table {
    display: inline-block;
}

table.products_list_table th{
    background-color: green;
    color: white;
    text-align: center;
    padding: .5em;
    cursor: default;
}

table.products_list_table td{
    padding: 0 .5em;
}


table.products_list_table tr:nth-child(even){
    background-color: #f5f5f5;
    cursor: pointer;
}

table.products_list_table tr:nth-child(even):hover{
    background-color:  #EBEBEB;
    cursor: pointer;
}


table.products_list_table tr:nth-child(odd){
    background-color: #1f9f1f;
    color: white;
    cursor: pointer;
}

table.products_list_table tr:nth-child(odd):hover{
    background-color: #0b8b0b;
    cursor: pointer;
}


table.products_list_table tr {
    height: 30px;
}

/***** Table2 (sell delete add table ) */

table.products_list_table_2 select {
    border: 1px solid #008000;
    background-color: #008000;
    color: #f2f2f2;
    cursor: pointer;
    padding: 0 .5em;
    margin-right: .5em;
}
table.products_list_table_2 select:hover {
    color: white;
    outline: none;
}
table.products_list_table_2 select:focus {
    outline: none;
}

table.products_list_table_2 select > option {
    background-color: #f5f5f5;
    color: black;
}

table.products_list_table_2 tr {
    height: 30px;
}
table.products_list_table_2 th {
    background-color: green;
    color: white;
    text-align: center;
    padding: .4em .5em;
}
table.products_list_table_2 td {
    width: 13em;
}

/*****  Table Buttons *****/

.product_list_btn {
    font-family: "courie new";
    padding: 0.2em;
    /* height: 1em; */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    font-weight:bold;
    text-align: center;
}

#show {
    color: #f2f2f2;
    background-color: #008000;
    border: none;
}
#show:hover {
    color: white;
}

#sell_product{
    border:2px solid #008000;
    color: #ffffff;
    background-color: #008000;
}

#delete_product {
    border: 2px solid #F44336;
    color: #ffffff;
    background-color: #F44336;
}

#update_availability_btn {
    border:2px solid #008000;
    color: #ffffff;
    background-color: #008000;
}

.product_list_btn:hover {
    cursor: pointer;
    opacity: 0.8;
}


/* Leo Markt total income chart*/

.leo_mark_chart {
    width: 800px;
    margin: 50px auto;
    padding: 1em;

}

div.leo_mark_chart a {
    border: none;
}

/* ********************** */

#footer-wrapper {
	background-color: black;
	width: 100%;
	margin-top: 2em;

}

#footer {
	position: static;
	text-align: center;
	margin: 0 auto;

}

#footer p {
	padding: 1.3em;
	font-size: 0.8em;
	color: white;
}


/* Contact form */

#contact_wrapper {
    width: 1100px;
    margin: 10% auto;
}

#contact_info {
    width: 300px;
    float: left;
    font-family: "courier new";
    margin-right: 60px;
    padding: 10px;
    color: #4b4949;

}

#contact {
    width: 500px;
    float: left;
}

form[name=contact ] p{
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
  font-family: "courier new";
  color: #4b4949;
}

form input#name,
form input#email {
    width: 400px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #008000;;
    padding: 5px;
    font-size: 1em;
    font-family: georgia;
    transition: all .3s ease-in-out;
}


form input#name:hover,
form input#email:hover {
    border: 2px solid #6bca6f;
    transition: all .3s ease-in-out;


}
form input#name:focus,
form input#email:focus {
    border: 2px solid #6bca6f;
    outline: 0;

}

form textarea#message {
    width: 500px;
    height: 100px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #008000;;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1em;
    font-family: georgia;
    transition: all .3s ease-in-out;
}
form textarea#message:hover {
    border: 2px solid #6bca6f;
    transition: all .3s ease-in-out;
}
form textarea#message:focus {
    border: 2px solid #6bca6f;
    outline: 0;
}


form input#submit {
    font-size: 1.5em;
    font-family: "courie new";
    width: 6em;
    height: 1.6em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    border:2px solid #008000;
    font-weight:bold;
    text-align: center;
    color: #ffffff;
    background-color: #008000;
    transition: all .3s ease-in-out;
/*    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
*/}

form input#submit:hover {
  cursor: pointer;
  border:2px solid #04a604;
  background-color: #04a604;
  transition: all .3s ease-in-out;
/*  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
*/}

#contact_success {
    width: 700px;
    margin: 0 auto;
    font-size: 1.3em;
    font-family: "georgia";
}

/* Message flashing */

.flash_wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s ease-in-out;

}

.flash_content {
    background-color: #ffffff;
    padding: 2em;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.flash_message {
    font-size: x-large;
    font-family: "courier-new";
}

#close_message_btn {
    border: 2px solid #F44336;
    color: #ffffff;
    background-color: #F44336;
    font-family: "courie new";
    font-size: larger;
    padding: 0.2em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    padding: 0.3em 2em;
    cursor: pointer;
}

#close_message_btn:hover {
    opacity: .9;
}

/* Flash error msg (on add_product form) */

.flash_error{
    padding: 1em;
    background-color: #F44336;
    font-family: "courier new";
    font-size: .9em;
    color: white;
    border-radius: 4px;
}


@-moz-document url-prefix() {

/*    .img_link {

    }

    .navbar {
        margin: .7em;
    }
*/
}

/********* costume/downloaded fonts ********************/
@font-face {
    font-family: "verona script";
    src: url('../font/Verona_Script.ttf')
}

/*************** Animation *******************/
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


/*@-webkit-keyframes ariane_rotate {
    from {-webkit-transform: rotate(0deg); }
    to {-webkit-transform: rotate(7deg);}
}

@keyframes ariane_rotate {
    from {transform: rotate(0deg); }
    to {transform: rotate(7deg); }
}*/

/******** Media queries / responsive*/

@media all and (max-width: 1100px) and (min-width: 730px) {

    div.navbar a { font-size: 1.5em; }
    div.navbar a:hover {font-size: 1.5em;}
    div#beta { display: none; }
    div.navbar_github img {width: 35px;}

    .hello {height: auto; margin-top: 25px;}

/************* index_p2 **********************/

    .index_p2 {overflow-x: hidden;}

    #p2_calculator {display: none;}
    #p2_ramka {display: none;}
    #p2_code_note {width: 450px;}
    #p2_laptop {width: 400px; top: 5%;}
    #p2_cactus {top: 25%;}
    /*#p2_caffe {left: 75%;}*/
    #p2_pencil_black {display: none;}
    #p2_note_graphs {left: 0;}

/****** Nikol Designe **********************/

    #nikol_container {
    background-size: initial;
    background-attachment: fixed;
    }

    #nikol_header_container {
        float: none;
        margin: auto;
        padding-top: 320px;
    }
    #visit_nikol {width: auto;}

/******* saridis *************/

    #saridis_container {
        background-size: initial;
        background-attachment: fixed;
    }

/**** Coutinho ****************/
    #coutinho_chart_container {
        background-attachment: fixed;
        background-size: initial;
    }

    #coutinho_header_container {display: none;}
    #coutinho_header_container_top {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 95%;
        float: left;
        color: #fff;
        font-family: 'courier new';
    }

    #coutinho_chart {
        width: 80%;
        opacity: .8;
        float: none;
        margin: 95px auto;
     }

     /*********** Index Finance  ***************8*/

     #index_chart_stock_container {
        background-size: initial;
        background-attachment: fixed;
    }

    #finance_header_container {display: none;} 
    div#finance_header_container_top h3 {text-align: center;}

    #finance_header_container_top {
        display: block;
        padding-top: 20px;
        width: 100%;
        color: #fff;
        font-family:'courier new';
    }

    #visit_finance {display: none;}
    #visit_finance_bottom {
        display: block;
        width: 150px;
        text-align: center;
        margin: 0 auto;
        margin-top: 70px;
    }

    div#visit_finance_bottom a {
        border: 2px solid #ffffff;
        padding: 6px;
        color: #ffffff;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        transition: all .3s ease-in-out;
    }

    div#visit_finance_bottom a:hover {
        background-color: #2F92B9;
        transition: all .3s ease-in-out;
    }
    
    #index_finance {
        width: 80%;
        height: auto;
        margin: auto;
        padding: auto;
        float: none;
        max-height: 680px;
    }

        /*Notes*/

    #index_notes { width: auto; }


} /**** end 1100 - 730 ***********************************/

@media all and (max-width: 729px) and (min-width: 400px) {

    #loading {display: none;}

/**** Side menu ******************/
    #header {
        width: 240px;
        padding: .1em;
        position: fixed;
        left: -250px;
        top: 0;
        height: 100%;
        opacity: .9;
        z-index: 101;
        transition: left .7s;
    }

    #toggle {
        font-weight: bold;
        display: block;
        z-index: 15;
        font-size: 3em;
        float: left;
        margin: .3em .3em;
        cursor: pointer;
        color: #000;
        transition: left .7s;
        position: absolute;
        left: 5px;
    }

    #toggle:hover {opacity: .7;}

    .navbar {display: block;}
    div.navbar a { font-size: 1.5em; }
    div.navbar a:hover { font-size: 1.5em; text-decoration: none; color: #fff;}

/************ Hello *********************/

    .hello {
        height: auto;
        margin-top: 25px;
    }


/************* index_p2 **********************/

    .index_p2 {
        background:
        url(/static/img/index/skills_new/skills_mobile_1000sm.png);
        background-size:170%;
        background-position:  center; 
        height: 500px;
        background-attachment:fixed;
    }

    #hello_header {font-size: 4em;}
    div.hello p {font-size: 2.5em; }


    #index2_table_note {display: none;}

/************ index p3 ************************/

    #index_p3 {height: auto; }
    #index_p3_bg {display: none;}
    #index3_bg_mobile {display: block; max-width: 729px; margin: 0 auto;}
    div#index3_bg_mobile img { }


/************ nikol ************************/

    #nikol_container {
    background: url(/static/img/index/prj/nikol_bg_730.jpg) no-repeat;
    background-size: initial;
    background-attachment: fixed;
    }

    #nikol_header_container {display: none;}
    #nikol_header_container_top {
            display: block;
            text-align: center;
            float: none;
            margin: auto;
            padding: 50px 7px 0 7px;
            color: #ffffff;
            font-family: 'courier new';
        }

    #nikol_port_img {
    float: none;
    margin: 100px auto 0 auto;
    }
    div#nikol_port_img img {width: 100%;}

    /*Visit Nikol*/
    #visit_nikol_bottom {
        display: block;
        width: 150px;
        text-align: center;
        margin: 0 auto;
        margin-top: 70px;
     }

     div#visit_nikol_bottom a {
        border: 2px solid #ffffff;
        padding: 6px;
        color: #ffffff;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        transition: all .3s ease-in-out;
     }

     div#visit_nikol_bottom a:hover {
        background-color: #717171;
        transition: all .3s ease-in-out;
     }

    /********** Saridis **************/

    #saridis_container {
        background-size: initial;
        background-attachment: fixed;
    }

    #saridis_header_container {display: none;}

    #saridis_header_container_top {
        display: block;
        text-align: center;
        padding-top: 50px;
        float: none;
        margin: auto;
        color: #ffffff;
        font-family: 'courier new';
    }  

    #saridis_img {
        float: none;
        margin: 100px auto 0 auto;
    }
    div#saridis_img img {width: 100%;}

    #visit_saridis_bottom {
        display: block;
        width: 130px;
        text-align: center;
        margin: 0 auto;
        margin-top: 70px;
    }

    div#visit_saridis_bottom a {
        border: 2px solid #ffffff;
        padding: 6px;
        color: #ffffff;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        transition: all .3s ease-in-out;
    }

    div#visit_saridis_bottom a:hover {
        background-color: #4570A0;
        transition: all .3s ease-in-out;

    }

 
    .hover_chart {display: none;} /*remove the "hover the chart to see more info"*/

    .chart_not_available_coutinho {
        display: block;
        background:url(/static/img/index/blur_coutihno_finace/coutinho.jpg) no-repeat;
        width: 80%;
        height: 100%;
        margin: auto;
        background-size: contain;
    }

    .chart_not_available_finance {
        display: block;
        background:url(/static/img/index/blur_coutihno_finace/finance.jpg) no-repeat;
        width: 100%;
        height: auto;
        margin: auto;
        background-size: contain;
    }

    .chart_not_available {  /*add chart not available message*/
        display: block;
        text-align: center;
        font-family: 'courier new';
        font-weight: bold;
        color: #ff0000; 
        width: 100%;
        padding: 25% 0;
        } 

    /******* Coutinho **************/
    #coutinho_chart_container {
        background-attachment: fixed;
        background-size: initial;
    }

    #coutinho_header_container {display: none;}

    #coutinho_header_container_top {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 98%;
        float: left;
        color: #fff;
        font-family: 'courier new';
    }

    #coutinho_chart {

        display: none; /*Remove chart*/

        width: 80%;
        opacity: .8;
        float: none;
        margin: 95px auto;
     }

     /****** index Finance *************/

    #finance_chart_index {display: none;} /*Remove chart*/


    #index_chart_stock_container {
        background-size: initial;
        background-attachment: fixed;
    }

    #finance_header_container {display: none;} 
    div#finance_header_container_top h3 {text-align: center;}

    #finance_header_container_top {
        display: block;
        padding-top: 20px;
        width: 100%;
        color: #fff;
        font-family:'courier new';
    }

    #visit_finance {display: none;}
    #visit_finance_bottom {
        display: block;
        width: 150px;
        text-align: center;
        margin: 0 auto;
        margin-top: 70px;
    }

    div#visit_finance_bottom a {
        border: 2px solid #ffffff;
        padding: 6px;
        color: #ffffff;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        transition: all .3s ease-in-out;
    }

    div#visit_finance_bottom a:hover {
        background-color: #2F92B9;
        transition: all .3s ease-in-out;
    }



    #index_finance {
        width: 80%;
        height: auto;
        margin: auto;
        padding: auto;
        float: none;
        max-height: 680px;
    }     

    #index_chart_input {
        font-size: .8em;
    }
    
    /*Notes*/

    #index_notes { width: auto; }

}/*end media -400*/

/******************* Media max 399 ******************/

@media all and (max-width: 399px){

    #loading {display: none;}


/**** Side menu ******************/

    #header {
        width: 210px;
        padding: .1em;
        position: fixed;
        left: -250px;
        top: 0;
        height: 100%;
        opacity: .9;
        z-index: 101;
        transition: left .7s;
    }

    #toggle {
        z-index: 15;
        display: block;
        font-size: 3em;
        float: left;
        margin-left: -16px;
        margin-top: .3em;
        cursor: pointer;
        color: #000;
        transition: left .7s;
        position: absolute;
        left: 5px;
    }

    #toggle:hover {opacity: .7;}

    .navbar {display: block;}
    div.navbar a { font-size: 1.2em; }
    div.navbar a:hover { font-size: 1.2em; text-decoration: none; color: white;}

    div.navbar_github img {width: 35px; margin: 0 0 15px 15px;}

/************ Hello *********************/
    .hello {height: auto; margin-top: 25px; }

/************* index_p2 **********************/

    .index_p2 {
        background: url(/static/img/index/skills_new/skills_mobile_1000sm.png);
        background-size: 170%;
        background-position: center; 
        height: 500px;
        background-attachment: fixed;
    }

    #skills_img_div {
        display: none;
        width: 90%;
        height: auto;
        padding-top: 25%;
        margin: 0 auto;
        float: none;
    }
    #skills_img {width: 100%; }

    #hello_header {font-size: 4em;}
    div.hello p {font-size: 2.5em; }

    #index2_table_note {display: none;}

/************ index p3 ************************/

    #index_p3 {height: auto; }
    #index_p3_bg {display: none;}
    #index3_bg_mobile {display: block; max-width: 729px; margin: 0 auto;}
    div#index3_bg_mobile img { }


/************ nikol ************************/

    #nikol_container {
    background: url(/static/img/index/prj/nikol_bg_730.jpg) no-repeat;
    background-size: initial;
    background-attachment: fixed;
    }

    #nikol_header_container {display: none;}
    #nikol_header_container_top {
            display: block;
            text-align: center;
            float: none;
            margin: auto;
            padding: 50px 7px 0 7px;
            color: #ffffff;
            font-family: 'courier new';
        }

        #nikol_port_img {
        float: none;
        margin: 100px auto 0 auto;
    }

    div#nikol_port_img img {width: 100%;}

    /*Visit Nikol*/
    #visit_nikol_bottom {
        display: block;
        width: 150px;
        text-align: center;
        margin: 0 auto;
        margin-top: 70px;
     }

     div#visit_nikol_bottom a {
        border: 2px solid #ffffff;
        padding: 6px;
        color: #ffffff;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        transition: all .3s ease-in-out;
     }

     div#visit_nikol_bottom a:hover {
        background-color: #717171;
        transition: all .3s ease-in-out;
     }

    /********** Saridis **************/

    #saridis_container {
        background-size: initial;
        background-attachment: fixed;
    }

    #saridis_header_container {display: none;}

    #saridis_header_container_top {
        display: block;
        text-align: center;
        padding-top: 50px;
        float: none;
        margin: auto;
        color: #ffffff;
        font-family: 'courier new';
    }  

    #saridis_img {
        float: none;
        margin: 100px auto 0 auto;
    }

    div#saridis_img img {width: 100%;}

    #visit_saridis_bottom {
        display: block;
        width: 130px;
        text-align: center;
        margin: 0 auto;
        margin-top: 70px;
    }

    div#visit_saridis_bottom a {
        border: 2px solid #ffffff;
        padding: 6px;
        color: #ffffff;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        transition: all .3s ease-in-out;
    }

    div#visit_saridis_bottom a:hover {
        background-color: #4570A0;
        transition: all .3s ease-in-out;

    }

    .hover_chart {display: none;} /*remove the "hover the chart to see more info"*/

    .chart_not_available_coutinho {
        display: block;
        background:url(/static/img/index/blur_coutihno_finace/coutinho.jpg) no-repeat;
        width: 80%;
        height: 100%;
        margin: auto;
        background-size: contain;
    }

    .chart_not_available_finance {
        display: block;
        background:url(/static/img/index/blur_coutihno_finace/finance.jpg) no-repeat;
        width: 100%;
        height: auto;
        margin: auto;
        background-size: contain;
    }

    .chart_not_available {  /*add chart not available message*/
        display: block;
        text-align: center;
        font-family: 'courier new';
        font-weight: bold;
        color: #ff0000; 
        width: 100%;
        padding: 25% 0;
        } 


    /******* Coutinho **************/
    #coutinho_chart_container {
        background-attachment: fixed;
        background-size: initial;
        height: 500px;

    }

    #coutinho_header_container {display: none;}

    #coutinho_header_container_top {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 95%;
        float: left;
        color: #fff;
        font-family: 'courier new';
    }

    #lanscape_gif_coutinho {
        color: #ffffff;
        font-family: 'courier new';
        display: block;
        width: 80%;
        margin: 120px auto;
    }

    #coutinho_chart {
        display: none;
        width: 80%;
        opacity: .8;
        float: none;
        margin: 95px auto;
     }

     /****** index Finance *************/

    #index_chart_stock_container {
        background-size: initial;
        background-attachment: fixed;
    }

    #finance_header_container {display: none;} 
    div#finance_header_container_top h3 {text-align: center;}

    #finance_header_container_top {
        display: block;
        padding-top: 20px;
        width: 100%;
        color: #fff;
        font-family:'courier new';
    }

    #visit_finance {display: none;}
    #visit_finance_bottom {
        display: block;
        width: 150px;
        text-align: center;
        margin: 0 auto;
        margin-top: 70px;
    }

    div#visit_finance_bottom a {
        border: 2px solid #ffffff;
        padding: 6px;
        color: #ffffff;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        transition: all .3s ease-in-out;
    }

    div#visit_finance_bottom a:hover {
        background-color: #2F92B9;
        transition: all .3s ease-in-out;
    }

    #lanscape_gif_finance {
        color: #ffffff;
        font-family: 'courier new';
        display: block;
        width: 80%;
        margin: 0 auto;
    }


    #index_finance {

        width: 80%;
        height: auto;
        margin: auto;
        padding: auto;
        float: none;
        max-height: 680px;
    }     

    #index_chart_input {
        font-size: .8em;
    }

    #finance_chart_index {display: none;}

     /******* Notes ***************/

    #index_notes { width: 80%; }
   #div#index_notes_content p { font-size: 1em; }

} /*min 399px*/
