<!------------ Link to this file: http://kelesidis.de/liverpool/  ------------------------------------->

{% extends "base.html" %}
<! DOCTYPE html >
<html lang="en">

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh-0.11.1.min.css') }}"  type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='js/bokeh-0.11.1.min.js') }}"> </script>

<body >
    <div id="container">
        <div id="content">

            <h3 id="pandas_header">Thank's for viewing my source code </h3>

            <div id="team_info">

                <h4> {{ team }} , in the season 2015/2016 has Atendance {{ full }}  </h4>

            </div>

            <!--Standings Table-->
            <div class = standings>
                <table>

                    <tr>
                        <th></th> <th>Team</th> <th>Points</th>
                    </tr>
                    <!--{{ team }} used above, so i use {{ teams }}-->
                    <tr>
                        <td>{{ rank }}</td> <td><img src="{{photo}}"> {{ teams }} </td>
                    </tr>

                </table>


            </div>

            <!--Team Player Table-->
            <div class="player_name_div">
                <table id="player_name">

                    <tr>
                        <th> Players</th>
                    </tr>

                    {%  for name in names  %}
                        {% if name == 'Coutinho' %}
                            <tr>
                                <td> <a href="../coutinho" > {{ name }} </a> </td>
                            </tr>

                        {% else %}
                            <tr>
                                <td>{{ name }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                </table>

            </div>


        </div>
    </div>

</body>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

</html>
