<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{{ title }}</title>

</head>
<body id="body">
    <div id="header">
        <div class="navbar"><a href="/"><p> Home</p> </a></div>
        <div class="navbar"><a href="{{ url_for('charts.charts') }}"><p> Charts</p> </a></div>
        <div class="navbar"><a href="{{ url_for('finance_blueprint.finance_data') }}"><p> Historical Stock Data</p> </a></div>
        <div class="navbar"><a href="{{ url_for ('football.liverpool') }}"><p> Liverpool</p> </a></div>
        <div class="navbar"><a href="{{ url_for ('football.coutinho') }}"><p> coutinho</p> </a></div>

    </div>

{% block content %}

<div id="container">
        <div id="content">



        </div>
</div>
{% endblock %}
</body>

<footer id="footer">
    {% block footer %}
    <div >
        <p>© Kelesidis Levan 2016. All rights reserved</p>
    </div>
{% endblock %}
</footer>

</html>