{% extends "base.html" %}
<! DOCTYPE html >
<html lang="en">

{% block head%}
{{ super() }}

<!--{# Redirect tag #}-->
<meta http-equiv="refresh" content="3; url=http://www.kelesidis.de/" />

{% endblock head %}


{% block content %}
<body >
    <div id="container">
        <div id="content">

            <div id="contact_success">
                <h3>Thank's for your message. We'll get back to you shortly </h3>
                <br>
                <h3>Redirecting in 3 seconds...</h3>
            </div>

            <div class="ariane">

                <div class="ariane_img">
                    <a href="https://around.com/ariane.html" target="_blank" > <img src="{{ url_for('static', filename='img/index/ariane_final.png') }}" title="Ariane 5 story"></a>

                </div>
            </div>

        </div>
    </div>



</body>
{% endblock %}



{% block footer %}
{{ super() }}
{% endblock %}

</html>
