{% extends "base.html" %}
<! DOCTYPE html >
<html lang="en">



{% block head%}
{{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh-0.11.1.min.css') }}"  type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/bokeh-0.11.1.min.js') }}"> </script>


    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" />
{% endblock head %}

{% block content %}
<div id="container">
    <div id="content">

    <div id="hello">
        <h1>Hello!</h1>
        <p><span style="font-weight: bold;">My</span> name is <span style="font-weight: bold;">Levan</span></p>
        <p>When i grow up i want to be an <span style="font-weight: bold;">astronaut</span></p><br>

        <p>Until then, i want to be a
        <span style="font-weight: bold;	color: BlueViolet;	font-family:'courier new';">&#60 programmer &#62</span></p>
        <p>Or maby... a
        <span id="web_button"> web</span>
        <span style="font-family:arial;"> | designer</span> ?</p>

        <p><span style="font-family:arial; font-size:2.5em;letter-spacing: -20px;">|</span>
        <span style="font-family:arial;border-bottom:6px solid; padding-bottom:4px;">Data Analysis</span>
        is good too!</p>
    </div>

    <div id="index_p2">
        <div id=program_head"> <h2>&#60 Programming skills &#62</h2> </div>
            <div id="program_text">
                <p><span class="code_highlited_mag"> def</span> python():</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;level = <span style="color:green"> "intermediate"</span></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="code_highlited_mag">pass</span></p>
                <br><br><br>
                <p><span class="code_highlited_mag">public class</span> java {</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="code_highlited_mag">public static void</span>
                <span style="color:DodgerBlue"> main</span>(String[] args) {</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="code_highlited_mag">String</span>
                level = <span style="color:green">"beginner";</span></p>
                <p>}</p>
            </div>
    </div>

    <div id="index_p3">
        <div id="web_logo">
            <h2><span style="border:3px solid white; padding:.2em; ">Web</span>
            design</h2>
        </div>

        <div id="web_knowledge">
            <!--<div id="web_basic"> <h3>Basic</h3></div>-->
            <div id="photoshop"><h3>photoshop</h3></div>
            <div id="illustrator"><h3>illustrator</h3></div>
            <div id="sony"><h3>sony vegas </h3></div>
        </div>

        <!--<div id="intermediate_lev">-->
            <!--<h1>intermediate level of <span class="code_highlited_mag">html</span> and <span class="code_highlited_mag">css</span></h1>-->
        <!--</div>-->

        <div id="web_proj_content">
            <div id="web_proj">

                    <div id="nikol_port_img">
                        <a href="http://www.nikol-design.ru" target="_blank"> <img src=" {{ url_for('static', filename='img/index/nikol.jpg') }} "> </a>
                    </div>

                    <div id="saridis_img">
                        <img src="{{ url_for('static', filename='img/index/saridis_s.png') }}">
                    </div>
            </div>
        </div>

    </div>

    <div id="index_p4">

        <div id="data_logo_wrapper">
            <div id="data_logo"></div>
            <div id="data_logo_1"></div>
            <div id="data_logo_2"></div>
            <div id="data_logo_3"></div>
            <div id="data_logo_4"></div>
            <div id="data_logo_5"></div>
            <div id="data_logo_6"></div>
            <div id="data_logo_7"></div>
            <div id="data_logo_8"></div>
            <div id="data_logo_9"></div>
            <div id="data_logo_10"></div>
            <div id="data_logo_11"></div>
            <div id="data_logo_12"></div>
            <div id="data_logo_13"></div>
        </div>

        <div class="index_chart_wrapper">

            <div class="barchart_power_index">

                {{ script1|safe }}
                {{ div1|safe }}


            </div>

            <div class="index_chart_cout">
                 <div class="rating_chart_index">

                        {{ script|safe }}
                        {{ div|safe }}
                </div>

                <div class="index_coutihno_img">
                    <img  src="{{ url_for('static', filename = 'img/coutinho_photo.JPG') }}" >
                </div>

            </div>


        <div id="select_chart_form">

            <form action="" method="POST">

                <fieldset id="forms">
                        <input type="text" name="chart" placeholder=" Write a NASDAQ commpany symbol e.g AAPL"/>
                        <input type="image" title="Geht Los" name="button_arrow" src="{{ url_for('static', filename='img/button_arrow.png') }}">
                </fieldset>

            </form>

        </div>

        <div id="main_content">

            <div id="info_table_div">
                {{ info|safe }}
            </div>

            <div id="finance_chart">
            {{ script2|safe }}
            {{ div2|safe }}
            </div>

        </div>


        </div>
    </div>


    </div>
</div>

{% endblock  %}

{% block footer %}
{{ super() }}
{% endblock %}
</html>












