{% extends "base.html" %}
<! DOCTYPE html >
<html lang="en">

{% block head%}
{{ super() }}

    <meta name="description" content="Kelesidis Levan is a self-taught developer.
     He loves to code and consider himself as a creative person">
    <meta property="og:image" content="http://kelesidis.de/static/img/kelesidis%20levan.jpg" />


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh-0.11.1.min.css') }}"  type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/bokeh-0.11.1.min.js') }}"> </script>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" />
{% endblock head %}

{% block content %}
<div id="container">
    <div id="content">

        <div class="hello">
            <h1>Hello!</h1>
            <p><span style="font-weight: bold;">My</span> name is <span style="font-weight: bold;">Levan</span></p>
            <p>When i grow up i want to be an <span style="font-weight: bold;">astronaut</span></p><br>

                <div class="ariane">

                    <div class="ariane_img">
                        <a href="https://around.com/ariane.html" class="img_link" target="_blank" > <img src="{{ url_for('static', filename='img/index/ariane_final.png') }}" title="Ariane 5 story"></a>

                </div>
            </div>

        </div>

        <div class="index_p2">

            <div id="index2_table_note">

                <img src="{{ url_for('static', filename='img/index/skills_new/table_note.gif') }}">
            </div>

            <div id="p2_top_img">
                <img id="phone_mobile" src="{{ url_for('static', filename='img/index/phone_mobile.png')  }} ">
                <img id="editor_mobile" src="{{ url_for('static', filename='img/index/editor_small.gif')  }} ">
                <img id="editor_ready" src="{{ url_for('static', filename='img/index/editor_small.gif')  }} ">
            </div>


        </div>


        <div id="index_p3">
            <div id="web_logo">
                <h2><span style="border:3px solid white; padding:.2em; ">Web</span>
                development</h2>
            </div>

            <div id="index_p3_bg">
                <img src="{{ url_for('static', filename='img/index/index_skills.jpg') }}">
            </div>

<!--
            <div id="web_knowledge">
                <div id="photoshop"><h3>photoshop</h3></div>
                <div id="illustrator"><h3>illustrator</h3></div>
                <div id="sony"><h3>sony vegas </h3></div>
            </div>

            <div id="web_proj_content">
                <div id="web_proj">

                        <div id="nikol_port_img">
                            <a href="http://www.nikol-design.ru" target="_blank"> <img src=" {{ url_for('static', filename='img/index/nikol.jpg') }} " title="Nikol design"> </a>
                        </div>

                        <div id="saridis_img">
                            <img src="{{ url_for('static', filename='img/index/saridis_s.png') }}" title="Saridis Travel">
                        </div>
                </div>
            </div>
-->

        </div>
<!--
        <div id="index_p4">

            <div id="data_logo_wrapper">
                <div id="data_logo"></div>
                <div id="data_logo_1"></div>
                <div id="data_logo_2"></div>
                <div id="data_logo_3"></div>
                <div id="data_logo_4"></div>
                <div id="data_logo_5"></div>
                <div id="data_logo_6"></div>
                <div id="data_logo_7"></div>
                <div id="data_logo_8"></div>
                <div id="data_logo_9"></div>
                <div id="data_logo_10"></div>
                <div id="data_logo_11"></div>
                <div id="data_logo_12"></div>
                <div id="data_logo_13"></div>
            </div>

            <div class="index_chart_wrapper">

                <div class="index_chart_cout">
                     <div class="rating_chart_index">

                            {{ script|safe }}
                            {{ div|safe }}
                    </div>

                    <div class="index_coutihno_img">
                        <img  src="{{ url_for('static', filename = 'img/coutinho_photo.JPG') }}" >
                    </div>

                </div>

            <div id="index_chart_stock_wrapper">

                <div id="select_chart_form_index">

                <form action="" target="_blank" method="POST">

                    <fieldset id="forms">
                            <input type="text"  name="chart" placeholder="Write a NASDAQ company symbol e.g AAPL">
                            <input type="image" value="Open Window" title="Geht Los" name="button_arrow" src="{{ url_for('static', filename='img/button_arrow.png') }}">
                    </fieldset>

                </form>

            </div>

                <div id="index_chart_stock">

                    <div id="info_table_index">
                        {{ info|safe }}
                    </div>

                    <div id="finance_chart_index">
                        {{ script2|safe }}
                        {{ div2|safe }}
                    </div>

            </div>
        </div>

            </div>
        </div>
-->

<!--
        <div id="index_notes">

            <div id="index_notes_content">

                <h1>║ Notes</h1>
                <p>This website uses Python Flask under the hood.</p>
                <p>Data analysis with pandas and MySQL</p>

                <p>The visualizations were made with <a href="http://bokeh.pydata.org/en/latest/" target="_blank"> bokeh</a>.</p>
                <p>Source code on <a href="https://github.com/liova99/kelesidis.de" target="_blank">GitHub</a>. </p>

                <p>Do not scale the webpage to see if it’s responsive, it isn't yet. </p>

                <p></p>

            </div>

        </div>
-->


    </div>
</div>

{% endblock  %}

{% block footer %}
{{ super() }}
{% endblock %}
</html>
